@model MasVidaWebMVC.Parameter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Parameter</legend>

    <div class="display-label">
        <strong>Nombre de Parámetro</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParameterName)
    </div>

    <div class="display-label">
        <strong>Valor del Parámetro</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParameterValue)
    </div>
</fieldset>
<br />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ParameterID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
</p>