@model MasVidaWebMVC.TransactionType

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>
<h3>¿Está seguro que quiere eliminar esto?</h3>
<fieldset>
    <legend>Tipo de Transacción</legend>

    <div class="display-label">
        <strong>Tipo de Transacción</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionTypeName)
    </div>

    <div class="display-label">
        <strong>Descripción</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionTypeDescription)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <br />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
    </p>
}
