@model MasVidaWebMVC.Resource

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>
<h3>¿Está seguro que quiere eliminar esto?</h3>
<fieldset>
    <legend>Recurso</legend>

    <div class="display-label">
        <strong>Nombre de Recurso</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ControllerName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <br />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
    </p>
}
