@model MasVidaWebMVC.Resource

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Recurso</legend>

    <div class="display-label">
        <strong>Nombre del Recurso</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ControllerName)
    </div>
</fieldset>
<br />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ControllerID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
</p>