@model MasVidaWebMVC.UserType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserType</legend>

    <div class="display-label">
        <strong>Tipo de Usuario</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserTypeName)
    </div>
</fieldset>
<br />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UserTypeID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
</p>