<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Mati Connection-->
    <!--<add name="MasVidaDB_Connection" connectionString="metadata=res://*/MasVida.Model.csdl|res://*/MasVida.Model.ssdl|res://*/MasVida.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MATT-PC\mssqlserver2012;initial catalog=masvida_db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Martin Connection-->
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MasVidaWebMVC-20150615203329;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MasVidaWebMVC-20150615203329.mdf" providerName="System.Data.SqlClient" />-->
    <!--Martin Connection-->
    <!--<add name="MasVidaDataContext" connectionString="metadata=res://*/MasVida.Model.csdl|res://*/MasVida.Model.ssdl|res://*/MasVida.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=masvida_db;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Juani Connection-->
    <add name="MasVidaDataContext" connectionString="metadata=res://*/DataModelsEntities.csdl|res://*/DataModelsEntities.ssdl|res://*/DataModelsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=masvida_db;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Hosting Connection-->
    <!--<add name="MasVidaDataContext" connectionString="metadata=~/bin/DataModelsEntities.csdl|~/bin/DataModelsEntities.ssdl|~/bin/DataModelsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=v0091189_masvida_db;User ID=v0091189_mvdba;Password=M4sv1d4db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MasVidaDataContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=masvida_db;Integrated Security=SSPI;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="MasVidaDataContext" connectionString="metadata=res://*/MasVida.Model.csdl|res://*/MasVida.Model.ssdl|res://*/MasVida.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;initial catalog=masvida_db;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>